In [23]:
import os
import gspread
import cryptocode
import pandas as pd
import requests

In [6]:
AWS_KEY = 'AKIA3F4MLXSHN455RGX6'
AWS_SECRET = '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'
Gspread='https://docs.google.com/spreadsheets/d/1vhP8osxR0snaPJJaU36AbaNi6pwBfkCnuNCMNJQsdYA/edit#gid=0'

In [17]:
def get_sql(AWS_KEY, AWS_SECRET, sql_command):
    import cryptocode
    import pymysql
    import s3fs
    # 암호화된 태블로 DB 접속키 로딩
    # 암호화된 태블로 DB 접속키 로딩
    fs = s3fs.S3FileSystem(anon=False, key=AWS_KEY, secret=AWS_SECRET)
    with fs.open("s3://zigbang-mlops/models/red/red_encrypted.txt", mode="r") as f:
        key = f.readline()

    conn = pymysql.connect(
        #host="biglab.c3svvjp5iqfn.ap-northeast-1.rds.amazonaws.com", port=3306,
        host="rds-red-w.zigbang.io", port=3306,
        user="zigbang_tableau", passwd='gksdkfma', #cryptocode.decrypt(key, AWS_SECRET),
        db="tableau", charset="utf8"
    )
    cursor = conn.cursor() 
    cursor.execute(sql_command)
    result = pd.DataFrame(cursor.fetchall())

    num_fileds = len(cursor.description)
    field_names = [i[0] for i in cursor.description]
    result.columns = field_names

    conn.close()
        
    return result

In [24]:
def load_xml_to_dataframe(response, keyword):
    import bs4 as bs
    import urllib.request
    soup = bs.BeautifulSoup(response_xml,'xml')
    
    rows = soup.find_all(keyword)
    columns = rows[0].find_all()
    
    rowList = []
    nameList = []
    columnList = []

    rowsLen = len(rows)
    columnsLen = len(columns)

    for i in range(0, rowsLen):
        columns = rows[i].find_all()

        for j in range(0, columnsLen):
            if i == 0:
                nameList.append(columns[j].name) #header
            eachColumn = columns[j].text #value
            columnList.append(eachColumn)
        rowList.append(columnList)
        columnList = []    # 다음 row의 값을 넣기 위해 비워준다

    result = pd.DataFrame(rowList, columns=nameList)
    return result

In [19]:
df = get_sql(AWS_KEY, AWS_SECRET,
        sql_command = 
        '''SELECT * FROM tableau.기업공시정보
        '''
       )

In [20]:
df.head()

,id,고유번호,기업명,종목코드,법인등록번호,사업자등록번호,기업유형,지역코드,시도,시군구,...,직원수,총급여,자산액,자산순위,매출액,매출순위,영업이익,영업이익순위,당기순이익,당기순이익순위
0,1,00100258,(주)에스마크,030270,151111-0001366,303-81-03040,민간기업,4313011100,충북,충주시,...,37,1544616,None,NaN,None,NaN,None,NaN,None,NaN
1,2,00100258,(주)에스마크,030270,151111-0001366,303-81-03040,민간기업,4313011100,충북,충주시,...,54,1321000000,None,NaN,None,NaN,None,NaN,None,NaN
2,3,00100258,(주)에스마크,030270,151111-0001366,303-81-03040,민간기업,4313011100,충북,충주시,...,59,711083000,None,NaN,None,NaN,None,NaN,None,NaN
3,4,00100258,(주)에스마크,030270,151111-0001366,303-81-03040,민간기업,4313011100,충북,충주시,...,54,1349494000,None,NaN,None,NaN,None,NaN,None,NaN
4,5,00100258,(주)에스마크,030270,151111-0001366,303-81-03040,민간기업,4313011100,충북,충주시,...,10,485962000000,"28,841,546,596",1.0,None,NaN,None,NaN,None,NaN

In [22]:
key = 'zaeHKUd+udWXYAS90iNFVdplnQ58mV0a++SuSZrKRVhjD2cJOhRSDZ9xzMmrxmd5S0TnN8Jg2UZCJLH8Y6oZQg=='
url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'

In [35]:
data =[]# pd.DataFrame()
df_기업기본정보 = pd.DataFrame() 

for crno in df.법인등록번호.unique():
    no = crno.replace("-", "")
    try:
          params ={'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'xml', 
               'basDt' : '20221001', 'crno':no}
          response_xml = requests.get(url, params=params).content
          data = load_xml_to_dataframe(response_xml, 'item')
          df_기업기본정보 = df_기업기본정보.append(data)
    except:
         print('찾을 수 없는 법인등록번호 : ', crno )
         pass

찾을 수 없는 법인등록번호 :  110111-1125403

In [37]:
df_기업기본정보.to_excel('기업기본정보.xlsx')

In [ ]:

#params ={'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'xml', 
#         'basDt' : '20200509', 'crno' : '1101113892240', 'corpNm' : '메리츠자산운용' }

params ={'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'xml', 
         'basDt' : '20221001', 'corpNm':'삼성전자'} #'crno':'1101117701356'}#, 'corpNm' : 'LG' }
#params ={'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'xml', 
#         'basDt' : '20220701'}
response_xml = requests.get(url, params=params).content #.text.encode('utf-8')

df = load_xml_to_dataframe(response_xml, 'item')#['crno'] #.to_excel('기업개요조회.xlsx')
df.head()

In [42]:
len(df.법인등록번호.unique() )

3204