https://www.data.go.kr/iim/api/selectAPIAcountView.do


https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15057988

#### 요청변수(Request Parameter)

| 항목명(국문) | 항목명(영문)   | 항목크기 | 항목구분 | 샘플데이터               | 항목설명                 |
|---------|-----------|------|------|---------------------|----------------------|
| 고유번호    | pnu       | 19   | 필수   | 1111010100100040007 | 고유번호(8자리 이상)         |
| 기준년도    | stdrYear  | 4    | 옵션   | 2012                | 기준년도(YYYY: 4자리)      |
| 응답결과 형식 | format    | 5    | 옵션   | xml                 | 응답결과 형식(xml 또는 json) |
| 검색건수    | numOfRows | 4    | 옵션   | 10                  | 검색건수                 |
| 페이지 번호  | pageNo    | 4    | 옵션   | 1                   | 페이지 번호               |

#### 출력결과(Response Element)

| 항목명(국문)  | 항목명(영문)        | 항목크기 | 항목구분 | 샘플데이터               | 항목설명     |
|----------|----------------|------|------|---------------------|----------|
| 고유번호     | pnu            | 19   | 필수   | 1111010100100040007 | 고유번호     |
| 법정동코드    | ldCode         | 10   | 옵션   | 1111010100          | 법정동코드    |
| 법정동명     | ldCodeNm       | 300  | 옵션   | 서울특별시 종로구 청운동       | 법정동명     |
| 특수지구분코드  | regstrSeCode   | 1    | 옵션   | 1                   | 특수지구분코드  |
| 특수지구분명   | regstrSeCodeNm | 300  | 옵션   | 일반                  | 특수지구분명   |
| 지번       | mnnmSlno       | 9    | 옵션   | 1-1                 | 지번       |
| 기준년도     | stdrYear       | 4    | 필수   | 2012                | 기준년도     |
| 기준월      | stdrMt         | 2    | 필수   | 09                  | 기준월      |
| 공동주택코드   | aphusCode      | 10   | 옵션   | 1                   | 공동주택코드   |
| 공동주택구분코드 | aphusSeCode    | 1    | 옵션   | 5                   | 공동주택구분코드 |
| 공동주택구분명  | aphusSeCodeNm  | 300  | 옵션   | 다세대                 | 공동주택구분명  |
| 특수지명     | spclLandNm     | 150  | 옵션   | 상암택지개발사업지구 3-7블럭    | 특수지명     |
| 공동주택명    | aphusNm        | 300  | 옵션   | 상암월드컵7단지            | 공동주택명    |
| 전용면적(㎡)  | prvuseAr       | 20   | 옵션   | 84.45               | 전용면적(㎡)  |
| 공시가격(원)  | pblntfPc       | 13   | 옵션   | 480000000           | 공시가격(원)  |
| 데이터기준일자  | lastUpdtDt     | 10   | 옵션   | 2016-09-26          | 데이터기준일자  |

In [1]:
filename = 'ServiceKey.txt'
def get_file_contents(filename):
    """ Given a filename,
        return the contents of that file
    """
    try:
        with open(filename, 'r') as f:
            # It's assumed our file contains a single line,
            # with our API key
            return f.read().strip()
    except FileNotFoundError:
        print("'%s' file not found" % filename)
        
api_key = get_file_contents(filename)
#print("Our API key is: %s" % (api_key))

In [2]:
import requests


url = 'http://apis.data.go.kr/1611000/nsdi/ApartHousingPriceService/attr/getApartHousingPriceAttr'


params ={'serviceKey' : api_key,
         'pnu' : '1111010100100040007', 
         'stdrYear' : '2012', 
         'format' : 'xml', 
         'numOfRows' : '10', 
         'pageNo' : '1' }

response = requests.get(url, params=params).text.encode('utf-8')
#response
#print(response.content)

In [3]:
import bs4 as bs
import urllib.request
import pandas as pd 

soup = bs.BeautifulSoup(response,'xml')

soup.find_all()

In [4]:
import xmltodict
 
data = xmltodict.parse(response)

In [5]:
rows = soup.find_all('field')
rows

[<field><pnu>1111010100100040007</pnu><ldCode>1111010100</ldCode><ldCodeNm>서울특별시 종로구 청운동</ldCodeNm><regstrSeCode>1</regstrSeCode><regstrSeCodeNm>일반</regstrSeCodeNm><mnnmSlno>4-7</mnnmSlno><stdrYear>2012</stdrYear><stdrMt>01</stdrMt><aphusCode>1</aphusCode><aphusSeCode>5</aphusSeCode><aphusSeCodeNm>다세대</aphusSeCodeNm><aphusNm>신구파인힐</aphusNm><floorNm>1</floorNm><hoNm>101</hoNm><prvuseAr>211.13</prvuseAr><pblntfPc>700000000</pblntfPc><lastUpdtDt>2016-11-09</lastUpdtDt></field>,
 <field><pnu>1111010100100040007</pnu><ldCode>1111010100</ldCode><ldCodeNm>서울특별시 종로구 청운동</ldCodeNm><regstrSeCode>1</regstrSeCode><regstrSeCodeNm>일반</regstrSeCodeNm><mnnmSlno>4-7</mnnmSlno><stdrYear>2012</stdrYear><stdrMt>01</stdrMt><aphusCode>1</aphusCode><aphusSeCode>5</aphusSeCode><aphusSeCodeNm>다세대</aphusSeCodeNm><aphusNm>신구파인힐</aphusNm><floorNm>1</floorNm><hoNm>102</hoNm><prvuseAr>209.21</prvuseAr><pblntfPc>691000000</pblntfPc><lastUpdtDt>2016-11-09</lastUpdtDt></field>,
 <field><pnu>1111010100100040007</pnu><ldCode>1111010100</ldCode><ldCodeNm>서울특별시 종로구 청운동</ldCodeNm><regstrSeCode>1</regstrSeCode><regstrSeCodeNm>일반</regstrSeCodeNm><mnnmSlno>4-7</mnnmSlno><stdrYear>2012</stdrYear><stdrMt>01</stdrMt><aphusCode>1</aphusCode><aphusSeCode>5</aphusSeCode><aphusSeCodeNm>다세대</aphusSeCodeNm><aphusNm>신구파인힐</aphusNm><floorNm>2</floorNm><hoNm>201</hoNm><prvuseAr>207.89</prvuseAr><pblntfPc>691000000</pblntfPc><lastUpdtDt>2016-11-09</lastUpdtDt></field>,
 <field><pnu>1111010100100040007</pnu><ldCode>1111010100</ldCode><ldCodeNm>서울특별시 종로구 청운동</ldCodeNm><regstrSeCode>1</regstrSeCode><regstrSeCodeNm>일반</regstrSeCodeNm><mnnmSlno>4-7</mnnmSlno><stdrYear>2012</stdrYear><stdrMt>01</stdrMt><aphusCode>1</aphusCode><aphusSeCode>5</aphusSeCode><aphusSeCodeNm>다세대</aphusSeCodeNm><aphusNm>신구파인힐</aphusNm><floorNm>2</floorNm><hoNm>202</hoNm><prvuseAr>215.09</prvuseAr><pblntfPc>700000000</pblntfPc><lastUpdtDt>2016-11-09</lastUpdtDt></field>,
 <field><pnu>1111010100100040007</pnu><ldCode>1111010100</ldCode><ldCodeNm>서울특별시 종로구 청운동</ldCodeNm><regstrSeCode>1</regstrSeCode><regstrSeCodeNm>일반</regstrSeCodeNm><mnnmSlno>4-7</mnnmSlno><stdrYear>2012</stdrYear><stdrMt>01</stdrMt><aphusCode>1</aphusCode><aphusSeCode>5</aphusSeCode><aphusSeCodeNm>다세대</aphusSeCodeNm><aphusNm>신구파인힐</aphusNm><floorNm>3</floorNm><hoNm>301</hoNm><prvuseAr>219.33</prvuseAr><pblntfPc>729000000</pblntfPc><lastUpdtDt>2016-11-09</lastUpdtDt></field>,
 <field><pnu>1111010100100040007</pnu><ldCode>1111010100</ldCode><ldCodeNm>서울특별시 종로구 청운동</ldCodeNm><regstrSeCode>1</regstrSeCode><regstrSeCodeNm>일반</regstrSeCodeNm><mnnmSlno>4-7</mnnmSlno><stdrYear>2012</stdrYear><stdrMt>01</stdrMt><aphusCode>1</aphusCode><aphusSeCode>5</aphusSeCode><aphusSeCodeNm>다세대</aphusSeCodeNm><aphusNm>신구파인힐</aphusNm><floorNm>3</floorNm><hoNm>302</hoNm><prvuseAr>212.57</prvuseAr><pblntfPc>700000000</pblntfPc><lastUpdtDt>2016-11-09</lastUpdtDt></field>,
 <field><pnu>1111010100100040007</pnu><ldCode>1111010100</ldCode><ldCodeNm>서울특별시 종로구 청운동</ldCodeNm><regstrSeCode>1</regstrSeCode><regstrSeCodeNm>일반</regstrSeCodeNm><mnnmSlno>4-7</mnnmSlno><stdrYear>2012</stdrYear><stdrMt>01</stdrMt><aphusCode>1</aphusCode><aphusSeCode>5</aphusSeCode><aphusSeCodeNm>다세대</aphusSeCodeNm><aphusNm>신구파인힐</aphusNm><floorNm>-1</floorNm><hoNm>B02</hoNm><prvuseAr>90.72</prvuseAr><pblntfPc>264000000</pblntfPc><lastUpdtDt>2016-11-09</lastUpdtDt></field>,
 <field><pnu>1111010100100040007</pnu><ldCode>1111010100</ldCode><ldCodeNm>서울특별시 종로구 청운동</ldCodeNm><regstrSeCode>1</regstrSeCode><regstrSeCodeNm>일반</regstrSeCodeNm><mnnmSlno>4-7</mnnmSlno><stdrYear>2012</stdrYear><stdrMt>01</stdrMt><aphusCode>1</aphusCode><aphusSeCode>5</aphusSeCode><aphusSeCodeNm>다세대</aphusSeCodeNm><aphusNm>신구파인힐</aphusNm><floorNm>-1</floorNm><hoNm>B01</hoNm><prvuseAr>118.77</prvuseAr><pblntfPc>360000000</pblntfPc><lastUpdtDt>2016-11-09</lastUpdtDt></field>]

In [6]:
columns = rows[0].find_all()
columns

[<pnu>1111010100100040007</pnu>,
 <ldCode>1111010100</ldCode>,
 <ldCodeNm>서울특별시 종로구 청운동</ldCodeNm>,
 <regstrSeCode>1</regstrSeCode>,
 <regstrSeCodeNm>일반</regstrSeCodeNm>,
 <mnnmSlno>4-7</mnnmSlno>,
 <stdrYear>2012</stdrYear>,
 <stdrMt>01</stdrMt>,
 <aphusCode>1</aphusCode>,
 <aphusSeCode>5</aphusSeCode>,
 <aphusSeCodeNm>다세대</aphusSeCodeNm>,
 <aphusNm>신구파인힐</aphusNm>,
 <floorNm>1</floorNm>,
 <hoNm>101</hoNm>,
 <prvuseAr>211.13</prvuseAr>,
 <pblntfPc>700000000</pblntfPc>,
 <lastUpdtDt>2016-11-09</lastUpdtDt>]

In [7]:
columns[0].name, columns[0].text

('pnu', '1111010100100040007')

In [8]:
rowList = []
nameList = []
columnList = []

columnsLen = len(columns)
for j in range(0, columnsLen):
    eachColumn = columns[j].text
    columnList.append(eachColumn)
rowList.append(columnList)

rowList

In [10]:

rowList = []
nameList = []
columnList = []

rowsLen = len(rows)
columnsLen = len(columns)

for i in range(0, rowsLen):
    columns = rows[i].find_all()
    
    for j in range(0, columnsLen):
        if i == 0:
            nameList.append(columns[j].name) #header
        eachColumn = columns[j].text #value
        columnList.append(eachColumn)
    rowList.append(columnList)
    columnList = []    # 다음 row의 값을 넣기 위해 비워준다. (매우 중요!!)
    
result = pd.DataFrame(rowList, columns=nameList)
result.head()

,pnu,ldCode,ldCodeNm,regstrSeCode,regstrSeCodeNm,mnnmSlno,stdrYear,stdrMt,aphusCode,aphusSeCode,aphusSeCodeNm,aphusNm,floorNm,hoNm,prvuseAr,pblntfPc,lastUpdtDt
0,1111010100100040007,1111010100,서울특별시 종로구 청운동,1,일반,4-7,2012,01,1,5,다세대,신구파인힐,1,101,211.13,700000000,2016-11-09
1,1111010100100040007,1111010100,서울특별시 종로구 청운동,1,일반,4-7,2012,01,1,5,다세대,신구파인힐,1,102,209.21,691000000,2016-11-09
2,1111010100100040007,1111010100,서울특별시 종로구 청운동,1,일반,4-7,2012,01,1,5,다세대,신구파인힐,2,201,207.89,691000000,2016-11-09
3,1111010100100040007,1111010100,서울특별시 종로구 청운동,1,일반,4-7,2012,01,1,5,다세대,신구파인힐,2,202,215.09,700000000,2016-11-09
4,1111010100100040007,1111010100,서울특별시 종로구 청운동,1,일반,4-7,2012,01,1,5,다세대,신구파인힐,3,301,219.33,729000000,2016-11-09

In [11]:
result.describe()

,pnu,ldCode,ldCodeNm,regstrSeCode,regstrSeCodeNm,mnnmSlno,stdrYear,stdrMt,aphusCode,aphusSeCode,aphusSeCodeNm,aphusNm,floorNm,hoNm,prvuseAr,pblntfPc,lastUpdtDt
count,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
unique,1,1,1,1,1,1,1,1,1,1,1,1,4,8,8,5,1
top,1111010100100040007,1111010100,서울특별시 종로구 청운동,1,일반,4-7,2012,01,1,5,다세대,신구파인힐,-1,101,211.13,700000000,2016-11-09
freq,8,8,8,8,8,8,8,8,8,8,8,8,2,1,1,3,8

In [12]:
result.shape

(8, 17)

In [13]:
result.columns

Index(['pnu', 'ldCode', 'ldCodeNm', 'regstrSeCode', 'regstrSeCodeNm',
       'mnnmSlno', 'stdrYear', 'stdrMt', 'aphusCode', 'aphusSeCode',
       'aphusSeCodeNm', 'aphusNm', 'floorNm', 'hoNm', 'prvuseAr', 'pblntfPc',
       'lastUpdtDt'],
      dtype='object')

In [14]:
cols = pd.read_excel('/Users/reejungkim/Documents/Git/OpenAPI_Ministry_of_land/출력결과(Response Element).xlsx',
             header=1)[['항목명(영문)', '항목명(국문)']]

cols

/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.

           항목명(영문)   항목명(국문)
0              pnu      고유번호
1           ldCode     법정동코드
2         ldCodeNm      법정동명
3     regstrSeCode   특수지구분코드
4   regstrSeCodeNm    특수지구분명
5         mnnmSlno        지번
6         stdrYear      기준년도
7           stdrMt       기준월
8        aphusCode    공동주택코드
9      aphusSeCode  공동주택구분코드
10   aphusSeCodeNm   공동주택구분명
11      spclLandNm      특수지명
12         aphusNm     공동주택명
13        prvuseAr   전용면적(㎡)
14        pblntfPc   공시가격(원)
15      lastUpdtDt   데이터기준일자

In [15]:
cols.shape[0]

16

In [16]:
cols.loc[0]

항목명(영문)     pnu
항목명(국문)    고유번호
Name: 0, dtype: object

In [17]:
cols.loc[0][0]

'pnu'

In [18]:
for i in range(0, cols.shape[0]):
    result.rename(columns={cols.loc[i][0]: cols.loc[i][1]}, inplace=True)

In [49]:
result['lng']=126.969069
result['lat']=37.587111

In [50]:

import pydeck #as pdk
import streamlit as st

     
mapbox_api_key = get_file_contents('ServiceKey MapBox.txt')

In [51]:
import os
from dotenv import load_dotenv
#.env file to environment
#load_dotenv()
load_dotenv(verbose=True)
token = os.getenv('MAPBOX_API_KEY')

In [61]:
# Define a layer to display on a map
layer = pydeck.Layer(
    'HexagonLayer',
    result,
    get_position='[lng, lat]',
    auto_highlight=True,
    elevation_scale=50,
    pickable=True,
    elevation_range=[0, 30],
    extruded=True,                 
    coverage=1)

# Set the viewport location
view_state = pydeck.ViewState(
    longitude=126.969069,
    latitude=37.587111,
    zoom=10,
    min_zoom=5,
    max_zoom=15,
    pitch=40.5,
    bearing=-27.36)

# Render
r = pydeck.Deck(layers=[layer], initial_view_state=view_state)
r.to_html('demo.html')
r.show()

DeckGLWidget(google_maps_key=None, json_input='{"initialViewState": {"bearing": -27.36, "latitude": 37.587111,…

In [64]:

view = pdk.data_utils.compute_view(result[["lng", "lat"]])
view.pitch = 75
view.bearing = 60

column_layer = pdk.Layer(
    "ColumnLayer",
    data=result,
    get_position=["lng", "lat"],
    get_elevation="공시가격(원)",
    elevation_scale=50,
    radius=10,
    get_fill_color=["mrt_distance * 10", "mrt_distance", "mrt_distance * 10", 140],
    pickable=True,
    auto_highlight=True,
)

tooltip = {
    "html": "<b>{mrt_distance}</b> meters away from an MRT station, costs <b>{공시가격(원)}</b> NTD/sqm",
    "style": {"background": "grey", "color": "white", "font-family": '"Helvetica Neue", Arial', "z-index": "10000"},
}

r = pdk.Deck(
    column_layer,
    initial_view_state=view,
    tooltip=tooltip,
    map_provider="mapbox",
    map_style=pdk.map_styles.SATELLITE,
)

#r.to_html("column_layer.html")
r.show()

DeckGLWidget(google_maps_key=None, json_input='{"initialViewState": {"bearing": 60, "latitude": 37.587111, "lo…