In [1]:
import pandas as pd 

from general_functions import get_file_contents

key = 'zaeHKUd+udWXYAS90iNFVdplnQ58mV0a++SuSZrKRVhjD2cJOhRSDZ9xzMmrxmd5S0TnN8Jg2UZCJLH8Y6oZQg=='
#filename = 'ServiceKey.txt'
#api_key = get_file_contents(filename)

import requests

In [2]:
def load_xml_to_dataframe(response, keyword):
    import bs4 as bs
    import urllib.request
    soup = bs.BeautifulSoup(response_xml,'xml')
    
    rows = soup.find_all(keyword)
    columns = rows[0].find_all()
    
    rowList = []
    nameList = []
    columnList = []

    rowsLen = len(rows)
    columnsLen = len(columns)

    for i in range(0, rowsLen):
        columns = rows[i].find_all()

        for j in range(0, columnsLen):
            if i == 0:
                nameList.append(columns[j].name) #header
            eachColumn = columns[j].text #value
            columnList.append(eachColumn)
        rowList.append(columnList)
        columnList = []    # 다음 row의 값을 넣기 위해 비워준다

    result = pd.DataFrame(rowList, columns=nameList)
    return result

### 계열회사조회

In [3]:
#xml
params ={'serviceKey' : key, 
         'pageNo' : '1', 
         'numOfRows' : '10', 
         'resultType' : 'xml', 
         'basDt' : '20220701' }#, 
         #'crno' : '1101110028939', #계열회사법인등록번호
         #'afilCmpyNm' : '케이비아이알로이(주)' }

url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getAffiliate'
response_xml = requests.get(url, params=params).text.encode('utf-8')

import xmltodict
xmltodict.parse(response_xml)

In [4]:
load_xml_to_dataframe(response_xml, 'item') #.to_excel('계열사회사조회.xlsx')

    afilCmpyCrno   afilCmpyNm     basDt           crno lstgYn
0              Z               20220701  0004108280449      N
1  1101110014764      롯데건설(주)  20220701  1101110000086
2  1101110033722      (주)롯데푸드  20220701  1101110000086
3  1101110076300      롯데지주(주)  20220701  1101110000086
4  1101110145410      호텔롯데(주)  20220701  1101110000086
5  1101110159099      롯데상사(주)  20220701  1101110000086
6  1101110193196     롯데케미칼(주)  20220701  1101110000086
7  1101110578231  롯데글로벌로지스(주)  20220701  1101110000086
8  1101111217416     롯데캐피탈(주)  20220701  1101110000086
9  1101113326588      롯데렌탈(주)  20220701  1101110000086

### 기업개요 조회

In [10]:
url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getCorpOutline'
#params ={'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'xml', 
#         'basDt' : '20200509', 'crno' : '1101113892240', 'corpNm' : '메리츠자산운용' }

params ={'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'xml', 
         'basDt' : '20221001', 'corpNm':'코캄'} #'crno':'1101117701356'}#, 'corpNm' : 'LG' }
#params ={'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'xml', 
#         'basDt' : '20220701'}
response_xml = requests.get(url, params=params).content #.text.encode('utf-8')

df = load_xml_to_dataframe(response_xml, 'item')#['crno'] #.to_excel('기업개요조회.xlsx')
df.head()

,actnAudpnNm,audtRptOpnnCtt,basDt,bzno,corpDcd,corpDcdNm,corpEnsnNm,corpNm,corpRegMrktDcd,corpRegMrktDcdNm,...,enpPn1AvgSlryAmt,enpRprFnm,enpStacMm,enpTlno,enpXchgLstgAbolDt,enpXchgLstgDt,fssCorpChgDtm,fssCorpUnqNo,sicNm,smenpYn
0,,,20221001,,,,,(주)코캄컴퍼니,,,...,0,,,0313987812,,,,,,
1,,,20221001,2298118003,,,"Kokam Co.,Ltd.",유한회사 코캄,F,기타,...,43000000,정충연,12,031-362-0100,,,2022/07/04,00299677,28202,

In [28]:
df.loc[df.enpEmpeCnt !='0'].transpose()

,1,9
actnAudpnNm,안진회계법인,삼일회계법인
audtRptOpnnCtt,적정의견,예외사항없음
basDt,20221001,20221001
bzno,1168118750,2208139938
corpDcd,,
corpDcdNm,,
corpEnsnNm,LG Corp.,LG Uplus Corp
corpNm,(주)LG,(주)LG유플러스
corpRegMrktDcd,P,P
corpRegMrktDcdNm,유가,유가
crno,1101110003543,1101111296676
empeAvgCnwkTermCtt,2년 11개월,9.0
enpBsadr,서울특별시 영등포구 여의대로 128,서울특별시 용산구 한강대로 32 (한강로3가) LG유플러스 용산사옥
enpDtadr,서울특별시 영등포구 여의대로 128,서울특별시 용산구 한강대로 32 (한강로3가) LG유플러스 용산사옥
enpEmpeCnt,186,10187
enpEstbDt,19470105,19960711
enpFxno,02-3773-2292,02-6928-1074
enpHmpgUrl,www.lg.co.kr,www.uplus.co.kr
enpKosdaqLstgAbolDt,,
enpKosdaqLstgDt,,
enpKrxLstgAbolDt,,
enpKrxLstgDt,,
enpMainBizNm,,
enpMntrBnkNm,,
enpOzpno,07336,04389
enpPbanCmpyNm,LG,LG유플러스
enpPn1AvgSlryAmt,135000000,94000000
enpRprFnm,"구광모, 권봉석",황현식
enpStacMm,12,12
enpTlno,02-3773-1114,02-3773-1114
enpXchgLstgAbolDt,,
enpXchgLstgDt,70/02/13,08/04/21
fssCorpChgDtm,2022/08/19,2022/09/15
fssCorpUnqNo,00120021,00231363
sicNm,64992,61220
smenpYn,,

In [15]:
df.loc[df.corpRegMrktDcd=='P']

,actnAudpnNm,audtRptOpnnCtt,basDt,bzno,corpDcd,corpDcdNm,corpEnsnNm,corpNm,corpRegMrktDcd,corpRegMrktDcdNm,...,enpPn1AvgSlryAmt,enpRprFnm,enpStacMm,enpTlno,enpXchgLstgAbolDt,enpXchgLstgDt,fssCorpChgDtm,fssCorpUnqNo,sicNm,smenpYn
1,안진회계법인,적정의견,20221001,1248100998,,,"SAMSUNG ELECTRONICS CO,.LTD",삼성전자(주),P,유가,...,144000000,"한종희, 경계현",12,031-200-1114,,75/06/11,2022/05/09,00126380,264,

### 연결 대상 종속 기업조회

In [18]:
url = 'http://apis.data.go.kr/1160100/service/GetCorpBasicInfoService/getConsSubsComp'
params ={'serviceKey' : key, 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'xml', 
         'basDt' : '20220707' }#, 'crno' : '1101110035835', 'sbrdEnpNm' : 'Saudi-Taihan Co. Ltd.' }


response_xml = requests.get(url, params=params).text.encode('utf-8')
#import xmltodict
#xmltodict.parse(response_xml)

In [21]:
load_xml_to_dataframe(response_xml, 'item')#.to_excel('연결 대상 종속 기업 조회.xlsx')

,basDt,crno,dntRltBsisCtt,mainSbrdEnpYnCtt,sbrdEnpEstbDt,sbrdEnpLtstEbzyrTastAmt,sbrdEnpMainBizCtt,sbrdEnpNm,sbrdEnpadr
0,20220707,1101110548771,기업 의결권의 과반수 소유&amp;cr;(기업회계기준서 1027호 13),미해당,20070924,3663035,고온전지&amp;cr;판매,VITZROCELL USA Inc..,10055 Regal Row Ste 180&amp;cr;Houston TX 77040
1,20220707,1101117417458,지분율43.58%,-,20190627,12973242,배터리&amp;cr;소재,(주)에코케미칼,울산광역시 남구 신두왕로 39
2,20220707,1101117417458,지분율100%,-,20150708,274972,ESS&amp;cr;사업,SAT USA LLC,115 STRYKER LANE&amp;cr;HILLSBOROUGH TOWNSHIP ...
3,20220707,1311110558163,-,-,,0,-,-,-